In [1]:
import pandas as pd 
import numpy as np
import os
import glob

In [9]:
data_path = r'C:\project_5\Data\Scraped_Data'

files = glob.glob(os.path.join(data_path, "*.csv"))

df = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)

df['Date'] = pd.to_datetime(
    df["Date&Time(KST)"],
    format="%Y/%m/%d %H:%M:%S"
)

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

df['hour'] = df['Date'].dt.hour
df['minute'] = df['Date'].dt.minute
df['sec'] = df['Date'].dt.second

df = df.drop(columns=['Date','Date&Time(KST)'])

df.to_csv("raw.csv", index=False)

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No.            3234 non-null   int64
 1   Magnitude      3234 non-null   float64
 2   Depth(km)      3234 non-null   str
 3   Max.Intensity  1193 non-null   str
 4   Latitude       3234 non-null   str
 5   Longitude      3234 non-null   str
 6   Map            3234 non-null   str
 7   Year           3234 non-null   int32
 8   Month          3234 non-null   int32
 9   Day            3234 non-null   int32
 10  hour           3234 non-null   int32
 11  minute         3234 non-null   int32
 12  sec            3234 non-null   int32
dtypes: float64(1), int32(6), int64(1), str(5)
memory usage: 252.8 KB

In [43]:
df

,No.,Magnitude,Depth(km),Max.Intensity,Latitude,Longitude,Map,Year,Month,Day,hour,minute,sec
0,4000,2.6,-,NaN,39.31,126.27,Map,2016,12,31,8,1,3
1,3999,1.3,16,NaN,35.76,129.20,Map,2016,12,30,22,23,25
2,3998,2.5,10,NaN,38.64,125.76,Map,2016,12,30,15,4,41
3,3997,2.3,9,NaN,36.12,129.36,Map,2016,12,29,21,32,25
4,3996,1.3,14,NaN,35.74,129.18,Map,2016,12,29,17,35,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,19,1.5,11,Ⅰ,36.18,129.44,Map,2026,1,5,18,10,46
3230,18,1.5,10,Ⅱ,36.41,128.82,Map,2026,1,5,16,32,56
3231,17,1.2,7,Ⅰ,35.77,129.39,Map,2026,1,5,10,47,18
3232,16,1.3,13,Ⅰ,35.80,129.33,Map,2026,1,5,3,36,49
3233,15,1.6,11,Ⅰ,37.06,130.08,Map,2026,1,4,22,13,10

In [ ]:
df["Longitude"] = df["Longitude"].astype(str).str[:6]
df["Latitude"] = df["Latitude"].astype(str).str[:6]
df['Latitude'] = df["Latitude"].astype(float)
df['Longitude'] = df["Longitude"].astype(float)
df['Depth(km)'] = df['Depth(km)'].replace('-', '16')
df['Depth(km)'] = df["Depth(km)"].astype(float)

In [ ]:
df["Latitude"] = df["Latitude"].astype(str).str[:6]
df['Latitude'] = df["Latitude"].astype(float)
df['Longitude'] = df["Longitude"].astype(float)
df['Depth(km)'] = df['Depth(km)'].replace('-', '16')
df['Depth(km)'] = df["Depth(km)"].astype(float)

In [ ]:
df['Latitude'] = df["Latitude"].astype(float)
df['Longitude'] = df["Longitude"].astype(float)
df['Depth(km)'] = df['Depth(km)'].replace('-', '16')
df['Depth(km)'] = df["Depth(km)"].astype(float)

In [ ]:
df['Longitude'] = df["Longitude"].astype(float)
df['Depth(km)'] = df['Depth(km)'].replace('-', '16')
df['Depth(km)'] = df["Depth(km)"].astype(float)

In [ ]:
df['Depth(km)'] = df['Depth(km)'].replace('-', '16')
df['Depth(km)'] = df["Depth(km)"].astype(float)

In [46]:
df['Depth(km)'] = df["Depth(km)"].astype(float)

In [48]:
df.drop(columns='Map', inplace=True)

In [51]:
df.drop(columns='No.', inplace=True)

In [52]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Magnitude      3234 non-null   float64
 1   Depth(km)      3234 non-null   float64
 2   Max.Intensity  1193 non-null   str
 3   Latitude       3234 non-null   float64
 4   Longitude      3234 non-null   float64
 5   Year           3234 non-null   int32
 6   Month          3234 non-null   int32
 7   Day            3234 non-null   int32
 8   hour           3234 non-null   int32
 9   minute         3234 non-null   int32
 10  sec            3234 non-null   int32
dtypes: float64(4), int32(6), str(1)
memory usage: 202.3 KB

In [53]:
df

,Magnitude,Depth(km),Max.Intensity,Latitude,Longitude,Year,Month,Day,hour,minute,sec
0,2.6,16.0,NaN,39.31,126.27,2016,12,31,8,1,3
1,1.3,16.0,NaN,35.76,129.20,2016,12,30,22,23,25
2,2.5,10.0,NaN,38.64,125.76,2016,12,30,15,4,41
3,2.3,9.0,NaN,36.12,129.36,2016,12,29,21,32,25
4,1.3,14.0,NaN,35.74,129.18,2016,12,29,17,35,24
...,...,...,...,...,...,...,...,...,...,...,...
3229,1.5,11.0,Ⅰ,36.18,129.44,2026,1,5,18,10,46
3230,1.5,10.0,Ⅱ,36.41,128.82,2026,1,5,16,32,56
3231,1.2,7.0,Ⅰ,35.77,129.39,2026,1,5,10,47,18
3232,1.3,13.0,Ⅰ,35.80,129.33,2026,1,5,3,36,49
3233,1.6,11.0,Ⅰ,37.06,130.08,2026,1,4,22,13,10

In [2]:
df = pd.read_csv(r'C:\project_5\Data\Raw_data\Raw_data.csv')
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Magnitude      3234 non-null   float64
 1   Depth(km)      3234 non-null   float64
 2   Max.Intensity  1193 non-null   str
 3   Latitude       3234 non-null   float64
 4   Longitude      3234 non-null   float64
 5   Year           3234 non-null   int64
 6   Month          3234 non-null   int64
 7   Day            3234 non-null   int64
 8   hour           3234 non-null   int64
 9   minute         3234 non-null   int64
 10  sec            3234 non-null   int64
dtypes: float64(4), int64(6), str(1)
memory usage: 278.1 KB

In [3]:
df['Max.Intensity'].value_counts()

Max.Intensity
Ⅰ    1067
Ⅱ     101
Ⅲ      20
Ⅳ       3
Ⅴ       2
Name: count, dtype: int64