In [333]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

In [ ]:
url = 'https://www.weather.go.kr/neng/earthquake/earthquake-korea.do?schOption=&xls=0&startTm=2026-01-01&endTm=2026-02-16&startSize=&endSize=&startLat=&endLat=&startLon=&endLon=&lat=&lon=&dist=&keyword=&dpType=a'

In [241]:
years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026]

In [113]:
rows = []

for year in years:

    print(year)

    url = f'https://www.weather.go.kr/neng/earthquake/earthquake-korea.do?schOption=&xls=0&startTm={year}-01-01&endTm=2026-02-16&startSize=&endSize=&startLat=&endLat=&startLon=&endLon=&lat=&lon=&dist=&keyword=&dpType=a'

    # User agent qurish / Building user agent 
    headers = {
        'User-Agent': 'Mozilla/5.0'
    }

    response = requests.get(url, headers=headers)
    response

    soup = BeautifulSoup(response.content,  'html.parser')

    table = soup.find('table', {"class": "table-col eqk-search-table"})

    headers =  [th.get_text(strip = True) for th in table.find_all('th')]

    for row in table.find('tbody').find_all('tr'):
        cols = [td.get_text(strip = True) for td in row.find_all('td')]
        if cols:
            rows.append(cols)
    
    df = pd.DataFrame(rows, columns=headers[:len(rows[0])])

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026

In [114]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             540 non-null    str
 1   Date&Time(KST)  540 non-null    str
 2   Magnitude       540 non-null    str
 3   Depth(km)       540 non-null    str
 4   Max.Intensity   540 non-null    str
 5   Latitude        540 non-null    str
 6   Longitude       540 non-null    str
 7   Map             540 non-null    str
dtypes: str(8)
memory usage: 33.9 KB

In [115]:
df.sample(6)

,No.,Date&Time(KST),Magnitude,Depth(km),Max.Intensity,Latitude,Longitude,Map
249,3991,2016/12/28 17:54:43,0.7,13,,35.75 N,129.19 E,Map
356,3984,2020/12/26 02:52:50,1.7,18,Ⅰ,33.80 N,126.09 E,Map
43,3997,2016/12/29 21:32:25,2.3,9,,36.12 N,129.36 E,Map
494,1889,2026/02/14 07:02:09,1.2,13,Ⅰ,37.88 N,126.09 E,Map
505,1091,2026/02/15 08:23:12,1.0,8,Ⅰ,38.12 N,127.10 E,Map
119,3981,2016/12/24 23:07:41,1.1,13,,35.71 N,129.20 E,Map

In [116]:
df.nunique()

No.               120
Date&Time(KST)    160
Magnitude          23
Depth(km)          20
Max.Intensity       5
Latitude          104
Longitude         109
Map                 2
dtype: int64

In [334]:
out_path = r'C:\project_5\Data\Scraped_Data'

os.makedirs(out_path, exist_ok=True)

data_path = os.path.join(out_path, 'df_1.csv')

df.to_csv(data_path, index=False)

In [117]:
url = 'https://www.weather.go.kr/neng/earthquake/earthquake-korea.do?startSize=999.0&endSize=999.0&pNo=2&startLat=999.0&endLat=999.0&startLon=999.0&endLon=999.0&lat=999.0&lon=999.0&dist=999.0&keyword=&startTm=2026-01-01&endTm=2026-02-16&dpType=a'

In [126]:
rows = []

for year in years:

    print(year)

    url = f'https://www.weather.go.kr/neng/earthquake/earthquake-korea.do?startSize=999.0&endSize=999.0&pNo=2&startLat=999.0&endLat=999.0&startLon=999.0&endLon=999.0&lat=999.0&lon=999.0&dist=999.0&keyword=&startTm={year}-01-01&endTm=2026-02-16&dpType=a'

    # User agent qurish / Building user agent 
    headers = {
        'User-Agent': 'Mozilla/5.0'
    }

    response = requests.get(url, headers=headers)
    response

    soup = BeautifulSoup(response.content,  'html.parser')

    table = soup.find('table', {"class": "table-col eqk-search-table"})

    headers =  [th.get_text(strip = True) for th in table.find_all('th')]

    for row in table.find('tbody').find_all('tr'):
        cols = [td.get_text(strip = True) for td in row.find_all('td')]
        if cols:
            rows.append(cols)
    
    df_2 = pd.DataFrame(rows, columns=headers[:len(rows[0])])

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026

In [127]:
df_2.info()

<class 'pandas.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             540 non-null    str
 1   Date&Time(KST)  540 non-null    str
 2   Magnitude       540 non-null    str
 3   Depth(km)       540 non-null    str
 4   Max.Intensity   540 non-null    str
 5   Latitude        540 non-null    str
 6   Longitude       540 non-null    str
 7   Map             540 non-null    str
dtypes: str(8)
memory usage: 33.9 KB

In [335]:
out_path = r'C:\project_5\Data\Scraped_Data'

os.makedirs(out_path, exist_ok=True)

data_path = os.path.join(out_path, 'df_2.csv')

df_2.to_csv(data_path, index=False)

In [ ]:
rows = []

for year in years:

    print(year)

    url = f'https://www.weather.go.kr/neng/earthquake/earthquake-korea.do?startSize=999.0&endSize=999.0&pNo=7&startLat=999.0&endLat=999.0&startLon=999.0&endLon=999.0&lat=999.0&lon=999.0&dist=999.0&keyword=&startTm={year}-01-01&endTm=2026-02-16&dpType=a'

    # User agent qurish / Building user agent 
    headers = {
        'User-Agent': 'Mozilla/5.0'
    }

    response = requests.get(url, headers=headers)
    response

    soup = BeautifulSoup(response.content,  'html.parser')

    table = soup.find('table', {"class": "table-col eqk-search-table"})

    headers =  [th.get_text(strip = True) for th in table.find_all('th')]

    for row in table.find('tbody').find_all('tr'):
        cols = [td.get_text(strip = True) for td in row.find_all('td')]
        if cols:
            rows.append(cols)
    
    df_7 = pd.DataFrame(rows, columns=headers[:len(rows[0])])

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026

In [212]:
df_7.info()

<class 'pandas.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             534 non-null    str
 1   Date&Time(KST)  534 non-null    str
 2   Magnitude       534 non-null    str
 3   Depth(km)       534 non-null    str
 4   Max.Intensity   534 non-null    str
 5   Latitude        534 non-null    str
 6   Longitude       534 non-null    str
 7   Map             534 non-null    str
dtypes: str(8)
memory usage: 33.5 KB

In [336]:
out_path = r'C:\project_5\Data\Scraped_Data'

os.makedirs(out_path, exist_ok=True)

data_path = os.path.join(out_path, 'df_3.csv')

df_7.to_csv(data_path, index=False)

In [216]:
rows = []

for year in years:

    print(year)

    url = f'https://www.weather.go.kr/neng/earthquake/earthquake-korea.do?startSize=999.0&endSize=999.0&pNo=3&startLat=999.0&endLat=999.0&startLon=999.0&endLon=999.0&lat=999.0&lon=999.0&dist=999.0&keyword=&startTm={year}-01-01&endTm=2026-02-16&dpType=a'

    # User agent qurish / Building user agent 
    headers = {
        'User-Agent': 'Mozilla/5.0'
    }

    response = requests.get(url, headers=headers)
    response

    soup = BeautifulSoup(response.content,  'html.parser')

    table = soup.find('table', {"class": "table-col eqk-search-table"})

    headers =  [th.get_text(strip = True) for th in table.find_all('th')]

    for row in table.find('tbody').find_all('tr'):
        cols = [td.get_text(strip = True) for td in row.find_all('td')]
        if cols:
            rows.append(cols)
    
    df_3 = pd.DataFrame(rows, columns=headers[:len(rows[0])])

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026

In [217]:
df_3.info()

<class 'pandas.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             540 non-null    str
 1   Date&Time(KST)  540 non-null    str
 2   Magnitude       540 non-null    str
 3   Depth(km)       540 non-null    str
 4   Max.Intensity   540 non-null    str
 5   Latitude        540 non-null    str
 6   Longitude       540 non-null    str
 7   Map             540 non-null    str
dtypes: str(8)
memory usage: 33.9 KB

In [337]:
out_path = r'C:\project_5\Data\Scraped_Data'

os.makedirs(out_path, exist_ok=True)

data_path = os.path.join(out_path, 'df_4.csv')

df_3.to_csv(data_path, index=False)

In [218]:
rows = []

for year in years:

    print(year)

    url = f'https://www.weather.go.kr/neng/earthquake/earthquake-korea.do?startSize=999.0&endSize=999.0&pNo=4&startLat=999.0&endLat=999.0&startLon=999.0&endLon=999.0&lat=999.0&lon=999.0&dist=999.0&keyword=&startTm={year}-01-01&endTm=2026-02-16&dpType=a'

    # User agent qurish / Building user agent 
    headers = {
        'User-Agent': 'Mozilla/5.0'
    }

    response = requests.get(url, headers=headers)
    response

    soup = BeautifulSoup(response.content,  'html.parser')

    table = soup.find('table', {"class": "table-col eqk-search-table"})

    headers =  [th.get_text(strip = True) for th in table.find_all('th')]

    for row in table.find('tbody').find_all('tr'):
        cols = [td.get_text(strip = True) for td in row.find_all('td')]
        if cols:
            rows.append(cols)
    
    df_4 = pd.DataFrame(rows, columns=headers[:len(rows[0])])

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026

In [219]:
df_4.info()

<class 'pandas.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             540 non-null    str
 1   Date&Time(KST)  540 non-null    str
 2   Magnitude       540 non-null    str
 3   Depth(km)       540 non-null    str
 4   Max.Intensity   540 non-null    str
 5   Latitude        540 non-null    str
 6   Longitude       540 non-null    str
 7   Map             540 non-null    str
dtypes: str(8)
memory usage: 33.9 KB

In [338]:
out_path = r'C:\project_5\Data\Scraped_Data'

os.makedirs(out_path, exist_ok=True)

data_path = os.path.join(out_path, 'df_5.csv')

df_4.to_csv(data_path, index=False)

In [331]:
rows = []

for year in years:

    print(year)

    url = f'https://www.weather.go.kr/neng/earthquake/earthquake-korea.do?startSize=999.0&endSize=999.0&pNo=6&startLat=999.0&endLat=999.0&startLon=999.0&endLon=999.0&lat=999.0&lon=999.0&dist=999.0&keyword=&startTm={year}-01-01&endTm=2026-02-16&dpType=a'

    # User agent qurish / Building user agent 
    headers = {
        'User-Agent': 'Mozilla/5.0'
    }

    response = requests.get(url, headers=headers)
    response

    soup = BeautifulSoup(response.content,  'html.parser')

    table = soup.find('table', {"class": "table-col eqk-search-table"})

    headers =  [th.get_text(strip = True) for th in table.find_all('th')]

    for row in table.find('tbody').find_all('tr'):
        cols = [td.get_text(strip = True) for td in row.find_all('td')]
        if cols:
            rows.append(cols)
    
    df_6 = pd.DataFrame(rows, columns=headers[:len(rows[0])])

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026

In [332]:
df_6.info()

<class 'pandas.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             540 non-null    str
 1   Date&Time(KST)  540 non-null    str
 2   Magnitude       540 non-null    str
 3   Depth(km)       540 non-null    str
 4   Max.Intensity   540 non-null    str
 5   Latitude        540 non-null    str
 6   Longitude       540 non-null    str
 7   Map             540 non-null    str
dtypes: str(8)
memory usage: 33.9 KB

In [339]:
out_path = r'C:\project_5\Data\Scraped_Data'

os.makedirs(out_path, exist_ok=True)

data_path = os.path.join(out_path, 'df_6.csv')

df_6.to_csv(data_path, index=False)